.card-list {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    row-gap: 32px;
    column-gap: 28px;
}

@media screen and (max-width: 780px) {
    .card-list {
        /* grid-template-rows: repeat(3, auto); */
        grid-template-columns: repeat(2, auto);
        row-gap: 35px;
        column-gap: 24 px;
    }
}
  
@media screen and (max-width: 320px) {
    .card-list {
        grid-template-columns: repeat(1, auto);
    }
}