.card-list {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 100px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    gap: 2em;
}

.card-list__upload-button {
    width: 40%;
    height: 36px;
    margin-bottom: 80px;
    align-self: center;
    border-radius: 6px; 
    border: none;
    outline: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
}
.card-list__upload-button:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (max-width: 780px) {
    .card-list {
        grid-template-columns: repeat(2, auto);
    }
}
  
@media screen and (max-width: 460px) {
    .card-list {
        grid-template-columns: repeat(1, auto);
        /* row-gap: 1%; */
    }
}