.section-title {
    padding-top: 110px;
    padding-bottom: 23px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 768px) {
    .section-title {
        padding-top: 90px;
    }
}
@media screen and (max-width: 320px) {
    .section-title {
        padding-top: 70px;
        font-size: 18px;
        line-height: 21.78px;
    }
}
