.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.profile__title {
    margin-top: 74px;
    margin-bottom: 123px;
}

.profile__form {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.profile__wrapper {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}

.profile__input-label {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13.31px;
}

.profile__input {
    outline: 0;
    border: none;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
}

.profile__error-message {
    margin: 0;
    margin-top: 10px;
    text-align: right;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FF3055;
}

.profile__status-message {
    padding-top: 100px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;

}
.profile__status-message_type_success {
    color: #2BE080;
}
.profile__status-message_type_error {
    color: #FF3055;
}

.profile__button {
    margin-top: 100px;
    margin-bottom: 16px;
    text-align: center;
    border: none;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    transition: opacity 0.2s linear;
}
.profile__button:hover {
    opacity: 0.6;
    cursor: pointer;
}
.profile__button_disabled:hover {
    opacity: 1;
    cursor: auto;
}

.profile__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.73px;
    color: #FF004D;
    transition: opacity 0.2s linear;
}
.profile__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 460px) {
    .profile__form {
        width: 50%;
    }
}
