.search {
}

.search__form {
    /* width: 100%; */
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-bottom: 1px solid #E8E8E8;
}

.search__label {
    position: relative;
}

.search__input {
    width: 932px;
    padding: 15px 22px;
    border-radius: 30px;
    border: none;
    outline: 1px solid #E8E8E8;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.search__input:focus {
    box-shadow: 0 0 2px #3456F3;
    transition: .4s;
}

.search__button {
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 8px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    background-image: url('../../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3456F3;
    color: #FFFFFF;
    transition: opacity 0.2s linear;
}
.search__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search__wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
}

.search__filter-name {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
