.search {
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__form {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 80px;
    border-bottom: 1px solid #E8E8E8;
}

.search__input {
    padding: 15px 22px;
    border-radius: 30px;
    border: none;
    outline: 1px solid #E8E8E8;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.search__button {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    background-image: url('../../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3456F3;
    color: #FFFFFF;
}



