.header {
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
}
.header_theme_white {
    background-color: #FFFFFF;
}
.header_theme_dark {
    background-color: #073042;
}

.header__links {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 44px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__links_logedin {
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    margin-right: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    transition: opacity 0.2s linear;
}
.header__link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__link_active {
    font-weight: 500;
}

.header__link_type_button {
    height: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.header__link_type_rectangular-button {
    width: 76px;
    background-color: #2BE080;
    border-radius: 3px;
}
.header__link_type_rounded-button {
    width: 100px;
    outline: 1px solid #AAAAAA;
    border-radius: 20px;
}

.header__link_color_black {
    color: #000000;
} 

.header__icon {
    width: 12px;
    height: 14px;
    margin-right: 7px;
}