.about {
    padding: 0 70px;
}

.about__content {
    margin-top: 70px;
    display: flex;
    column-gap: 40px;
}

.about__article {
    row-gap: 140px;
}

.about__title {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
}

.about__text {
    margin: 0;
    margin-bottom: 110px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.about__timeline {
    display: flex;
    justify-content: space-between;
}

.about__timeline-column {
    margin: 0 auto;
    text-align: center;
}

.about__timeline-column_left {
    width: 20%;
}

.about__timeline-column_right {
    width: 80%;
}

.about__timeline-title {
    margin: 0;
    margin-bottom: 14px;
    height: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    background-color: #F2F2F2;
}
.about__timeline-title_colored {
    background-color: #2BE080;
}

.about__timeline-text {
    display: block;
    margin: 0;
    margin-bottom: 110px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #A0A0A0;
}

@media screen and (max-width: 780px) {
    .about {
        padding: 0 50px;
    }
}

@media screen and (max-width: 780px) {
    .about__content {
        margin-top: 60px;
        column-gap: 30px;
    }
}

@media screen and (max-width: 320px) {
    .about {
        padding: 0 18px;
    }
}

@media screen and (max-width: 320px) {
    .about__content {
        flex-direction: column;
        row-gap: 50px;
    }
}

@media screen and (max-width: 320px) {
    .about__title {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 21.78px;
    }
}

@media screen and (max-width: 320px) {
    .about__text {
        margin: 0;
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .about__timeline-column_left {
        width: 35%;
    }
}

@media screen and (max-width: 320px) {
    .about__timeline-column_right {
        width: 65%;
    }
}

@media screen and (max-width: 320px) {
    .about__timeline-title {
        font-size: 11px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .about__timeline-text {
        margin: 0;
        font-size: 11px;
        line-height: 12.74px;
    }
}